
@font-face {
    font-family: Playfair;
    src: url('../../MotorAssets/PlayfairDisplaySC-Black.ttf');
  }

@font-face {
    font-family: Bangers;
    src: url('../../MotorAssets/Bangers-Regular.ttf')
  }

ImageGrid {
    position: absolute;
    right: 25%;
    top: 25%;
    transform: translate(-75%, -75%)
  }