.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@font-face {
  font-family: Verela;
  src: url('./MotorAssets/VarelaRound-Regular.ttf');
}
@font-face {
  font-family: Abril;
  src: url('./MotorAssets/AbrilFatface-Regular.ttf');
}
@font-face {
  font-family: Anton;
  src: url('./MotorAssets/Anton-Regular.ttf');
}
@font-face {
  font-family: Playfair;
  src: url('./MotorAssets/PlayfairDisplaySC-Black.ttf');
}
@font-face {
  font-family: Bangers;
  src: url('./MotorAssets/Bangers-Regular.ttf')
}
