.input {
    margin: theme spacing(1);
    font-family: Abril;
    color: #F2F4F3;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #22333b;
    border-radius: 5px;
    height: 30px;
    margin-left: 50px;
    margin-right: 50px
}